.group:after {
  content: '';
  clear: both;
  display: block;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: left;
  width: calc(50% - 1rem);
  margin-left: 1rem;
}

.screen {
  background-color: #000;
  width: 100%;
}

.memory-table {
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: left;
}

.memory-table th, .memory-table td {
  box-sizing: border-box;
  border: 1px solid #ccc;
}
